@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Light'), local('TT-Hoves-Light'),
        url('./../public/fonts/TTHoves-Light.woff2') format('woff2'),
        url('./../public/fonts/TTHoves-Light.woff') format('woff'),
        url('./../public/fonts/TTHoves-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'TT Hoves';
}